body {
    margin: 0 auto;
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: #95CFFF;
    max-width: 80%;
    min-width: 500px;
    text-align: center;
}

svg {
    border: solid 4px white;
}

.case h2 {
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: #037BCC;
    padding: 10px;
    margin: 10px;
}

.response {
    text-align: start;
    border: solid gray 2px;
    padding: 10px;
    margin: 10px;
}

.response h5 {
    margin: 0px;
    color: rgb(57, 57, 57);
}

.response h4 {
    margin-bottom: 0px;
}

.img {
    max-width: 800px;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}

img{
    width: 100%;
    height: auto;
}

.hint{
    opacity: 0.7;
    background-color: rgb(242, 241, 188);
    color: rgb(28, 41, 146);
    border: 1px solid;
    padding: 5px;
    font-weight: bolder;
}

.slider-container {
    margin: 20px;
}

.serie text {
    font-family: Arial, sans-serif; /* Cambia a la fuente que prefieras */
    font-size: 12px; /* Tamaño de la fuente */
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
